*, *::before, *::after, :focus {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

.containerWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.searchArea{
  width: 30%;
  height: 200px;
  
}
input[type=text] {
  width: 100%;
  height: 50px;
  padding:10px;
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search{
  width: 50%;
  background-color: #4CAF50;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding:0;
  margin:0 0 0 0;
}
img{
  display: block;
  max-width:100%;
  max-height:300px;
  width: auto;
  height: auto;
  border-radius: 5px;
  border: 2px solid #cccccc;
  padding: 5px;
  margin: 10px;
}
li{
  margin: 0;
  padding:0
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 164px;
  display: flex;
  align-items: center;
  margin-top: 100px;  
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid indigo;
  border-color: indigo transparent indigo transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
